.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: auto;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
    border: 2px solid #fff;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.close-button:hover {
    color: #ddd;
}

.fullscreen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

.fullscreen-content a {
    text-decoration: underline;
}

.fullscreen-content a:hover {
    color: #ddd;
}

.navigation-buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.navigation-buttons button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px;
}

.navigation-buttons button:hover {
    background-color: #ddd;
}
